{% extends 'default_b.html'%}
{% block title %}
Блог - {{ title }}

{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<h4>Автор: {{author}}</h4>
<h4>{{date}}</h4>
<a href="/blog">Обратно к списку </a><br/>
<a href="{{id}}/content">Текст статьи </a><br/>
 {%for g in comment_list%}
        <h5>
          {{g.0}}
        {{g.1}}
        {{g.2}}
        </h5>
        {%endfor%}
<form action="" method="post">
          {% csrf_token %}
          <p>
            <label for="name">Введите текст:</label>
            <input type="text" name="text_com" id="text_com">
          </p>
          <p>
            <label for="ra">Введите рейтинг:</label>
            <input type="number" name="ra" id="ra" required>
          </p>
          <p>
            <label for="id">Введите id:</label>
            <input type="number" name="id_com" id="id_com">
          </p>

          <button type="submit">Отправить</button>
        </form>
{% endblock %}

