{% extends 'default_b.html'%}

{% block title %}
Блог - Главная

{% endblock %}



{% block content %}
<h1>Главная</h1>
    {% for obj in page_obj %}
		<tr>
			<td>
				<a href="{%url 'blog:article' obj.0%}">{{ obj.4 }}</a><br/><a>Автор: {{ obj.1 }} </a>
				<br/>
				<br/>

			</td>
		</tr>
	{% endfor %}
<!--
<ul>
{{ objects }}<br/>
{{ page_obj }}<br/>
    <br/>Has_previous: {{ page_obj.has_previous }}
    <br/>Current page: {{ page_obj.number }}
    <br/>Has_next: {{ page_obj.has_next }}
    <br/>Number of pages: {{ page_obj.paginator.num_pages }}

</ul>
-->
{% if page_obj.has_previous %}
	<a href="?page=1">&laquo First</a>
	<a href="?page={{ page_obj.previous_page_number }}">Previous</a>

{% endif %}

Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}


{% if page_obj.has_next %}
	<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
	<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a>

{% endif %}

{% endblock %}